---
import type { GetStaticPaths } from 'astro';

import { getCollection } from 'astro:content';

import ArticleItem from '@/components/article-item.astro';
import BoxContent from '@/components/box/content.astro';
import BoxHeader from '@/components/box/header.astro';
import Box from '@/components/box/index.astro';
import BoxTitle from '@/components/box/title.astro';
import Pagination from '@/components/pagination.astro';
import Pattern from '@/components/ui/pattern.astro';
import PageLayout from '@/layouts/page-layout.astro';
import { SITE } from '@/lib/config';

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getCollection('blog', ({ data }) => !data.draft);
  const sortedArticles = articles.sort(
    (a, b) => b.data.pubDatetime.getTime() - a.data.pubDatetime.getTime(),
  );
  return paginate(sortedArticles, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<PageLayout>
  <Box>
    <BoxHeader class="pt-4 pb-0">
      <BoxTitle>Articles</BoxTitle>
    </BoxHeader>
    <BoxContent className="px-4 py-6">
      <div class="flex w-full flex-col items-start justify-start gap-y-3 divide-y divide-border">
        {page.data.map((article) => <ArticleItem article={article} />)}
      </div>

      <div class="border-t py-2">
        <Pagination page={page} />
      </div>
    </BoxContent>
  </Box>

  <Pattern className="h-16" />
</PageLayout>
