---
import Footer from '@/components/footer.astro';
import Navbar from '@/components/navbar/index.astro';
import Profile from '@/components/profile.astro';
import LatestArticles from '@/components/sections/latest-articles.astro';
import Pattern from '@/components/ui/pattern.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout title="Nusnug I/O" description="Nusnug I/O - Frontend Developer in ProTech / AdTech">
  <Navbar />

  <main aria-label="Main content" class="mx-auto min-h-[calc(100vh-120px)] max-w-4xl">
    <Pattern className="h-16" />
    <Profile />
    <Pattern className="h-16" />
    <LatestArticles />
    <Pattern className="h-16" />
  </main>

  <Footer />
</Layout>
