---
import type { CollectionEntry } from 'astro:content';

import IconChevronRight from '~icons/lucide/chevron-right';

type Props = {
  article: CollectionEntry<'blog'>;
};

const { article } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('zh-TW', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
}).format(article.data.pubDatetime);
---

<a href={`/articles/${article.id}`} class="group flex w-full cursor-pointer items-center">
  <div
    class="flex flex-1 flex-col items-start justify-center gap-3 rounded-md border! border-solid! border-black/5! bg-card p-4 shadow-sm md:p-5"
  >
    <div class="flex w-full items-center justify-between text-left select-none">
      <h3 class="font-bold underline-offset-6 group-hover:underline md:text-lg">
        {article.data.title}
      </h3>

      <IconChevronRight
        className="ml-4 size-4 shrink-0 text-sm text-muted-foreground transition-transform duration-150 group-hover:translate-x-1 md:size-6"
      />
    </div>

    <ul class="mt-4 flex flex-wrap items-center justify-start">
      <li class="flex items-center gap-x-2">
        <div class="text-foring-foreground text-pretty">
          {formattedDate}
        </div>
        <div class="hidden size-1 rounded-full bg-black/55 md:block"></div>
        <div class="hidden gap-x-3 md:flex md:items-center">
          {article.data.tags.map((tag) => <span class="font-bold">#{tag}</span>)}
        </div>
      </li>
    </ul>
  </div>
</a>
