---
import { ChevronDown } from 'lucide-react';

import BoxContent from '@/components/box/content.astro';
import BoxHeader from '@/components/box/header.astro';
import Box from '@/components/box/index.astro';
import BoxTitle from '@/components/box/title.astro';
import { TECH_STACK_GROUPS } from '@/lib/constants/tech-stack';
---

<Box>
  <BoxHeader>
    <BoxTitle>使用技術</BoxTitle>
  </BoxHeader>
  <BoxContent>
    <div class="grid" style="content-visibility: auto; contain-intrinsic-size: auto 48px;">
      {
        TECH_STACK_GROUPS.map((group) => (
          <div class="py-4 lg:py-3.5 [&:not(:last-child)]:screen-line-after">
            <h3 class="mb-2.5 flex items-center gap-x-2 text-base font-bold lg:mb-2">
              <ChevronDown className="size-4" />
              {group.group}
            </h3>
            <ul class="flex flex-wrap gap-3">
              {group.items.map((item) => {
                return (
                  <li
                    class:list={[
                      'flex min-h-[2.5rem] items-center justify-center gap-2 rounded-md !border !border-solid !border-black/5 bg-card px-3 py-2 shadow-sm',
                      'cursor-default transition-all duration-200',
                    ]}
                  >
                    {item.icon && (
                      <span class="flex shrink-0 items-center justify-center">
                        {typeof item.icon === 'string' ? (
                          <img src={item.icon} alt={item.title} class="size-5" />
                        ) : (
                          <item.icon className="size-5" />
                        )}
                      </span>
                    )}
                    <span class="text-sm whitespace-nowrap">{item.title}</span>
                  </li>
                );
              })}
            </ul>
          </div>
        ))
      }
    </div>
  </BoxContent>
</Box>
